name: Deploy Pre-built Site
# Note, this will only update after local rendering of quarto
on:
  push:
    branches: [main]
    paths: ['quarto_docs/docs/**']  # Only trigger when docs folder changes

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Pages
        uses: actions/configure-pages@v3
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: quarto_docs/docs
          
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2